<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi consultorio</title>
</head>
<body>
    <div class="main-container">
        <h2>MI CONSULTORIO</h2>
      
        <div class="cards-container">
          <div class="card">
            <img src="daira.png" alt="Maria Antonieta" class="avatar">
            <div class="info">
              <p class="name">Maria Antonieta</p>
              <p class="fecha">fecha de reunion:<br><span>16/03/25</span></p>
            </div>
          </div>
      
          <div class="card">
            <img src="andres.png" alt="Juan Esteban Alvarez" class="avatar">
            <div class="info">
              <p class="name">Juan Esteban Alvarez</p>
              <p class="fecha">fecha de reunion:<br><span>19/03/25</span></p>
            </div>
          </div>
      
          <div class="card">
            <img src="daira.png" alt="Karen Sofia Gil" class="avatar">
            <div class="info">
              <p class="name">Karen Sofia Gil</p>
              <p class="fecha">fecha de reunion:<br><span>16/04/25</span></p>
            </div>
          </div>
        </div>
      
        <div class="arrow">
          <img src="flecha.png" alt="Next">
        </div>
      </div>
    
</body>
</html>
