
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion de anuncios</title>
</head>
<body>
  <div class="usuarios-container">
    <h2 class="titulo">Gestion de anuncios</h2>
  
    <table class="tabla-usuarios">
      <thead>
        <tr>
          <th>Tipo de Anuncio</th>
          <th>Imagen</th>
          <th>Fecha publicacion</th>
          <th>Estado Anuncio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Reforma a ley 9</td>
          <td><strong></strong></td>
          <td>11/04/2023</td>
          <td>Activo</td>
          <td>
            <button class="btn-editar"><img src="assets/img/editar.png" alt="Editar"></button>
            <button class="btn-eliminar"><img src="assets/img/eliminar.png" alt="Eliminar"></button>
          </td>
        </tr>
        <tr>
          <td>Aumento de condenas</td>
          <td><strong></strong></td>
          <td>10/06/2024</td>
          <td>Activo</td>
          <td>
            <button class="btn-editar"><img src="assets/img/editar.png" alt="Editar"></button>
            <button class="btn-eliminar"><img src="assets/img/eliminar.png" alt="Eliminar"></button>
          </td>
        </tr>
        
      </tbody>
    </table>
  
    <p class="info-registros">Showing 1 to 9 of 9 entries</p>
  
    <div class="paginacion">
      <span>«</span>
      <span class="activo">1</span>
      <span>»</span>
    </div>
  </div>
  
</body>
</html>
