<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profesionales</title>
</head>
<body>
    <div class="container">
        <!-- CARD 1 -->
        <div class="card">
          <div class="left">
            <img src="daira.png" alt="Daira" class="avatar">
            <div class="info">
              <div class="stars">★★★★★</div>
              <h3>Daira Sharick Prieto</h3>
              <p><strong>Experiencia:</strong> 5 años</p>
              <p><strong>Idiomas:</strong> <img src="espana.png"><img src="usa.png"></p>
              <p><strong>Consulta:</strong> <span class="price">$60.000</span></p>
            </div>
          </div>
          <div class="buttons">
            <button class="perfil">Ir a perfil</button>
            <button class="agendar">Agendar</button>
          </div>
        </div>
      
        <!-- CARD 2 -->
        <div class="card">
          <div class="left">
            <img src="andres.png" alt="Luis" class="avatar">
            <div class="info">
              <div class="stars">★★★★★</div>
              <h3>Luis Fernando Arcila</h3>
              <p><strong>Experiencia:</strong> 5 años</p>
              <p><strong>Idiomas:</strong> <img src="usa.png"><img src="arg.png"></p>
              <p><strong>Consulta:</strong> <span class="price">$60.000</span></p>
            </div>
          </div>
          <div class="buttons">
            <button class="perfil">Ir a perfil</button>
            <button class="agendar">Agendar</button>
          </div>
        </div>
      
        <!-- CARD 3 -->
        <div class="card">
          <div class="left">
            <img src="luis.png" alt="Santiago" class="avatar">
            <div class="info">
              <div class="stars">★★★★☆</div>
              <h3>santiago polonia</h3>
              <p><strong>Experiencia:</strong> 5 años</p>
              <p><strong>Idiomas:</strong> <img src="assets/espana.png"><img src="assets/usa.png"></p>
              <p><strong>Consulta:</strong> <span class="price">$60.000</span></p>
            </div>
          </div>
          <div class="buttons">
            <button class="perfil">Ir a perfil</button>
            <button class="agendar">Agendar</button>
          </div>
        </div>
      
        <!-- CARD 4 -->
        <div class="card">
          <div class="left">
            <img src="daira.png" alt="Karen" class="avatar">
            <div class="info">
              <div class="stars">★★★★☆</div>
              <h3>Daira Sharick Prieto</h3>
              <p><strong>Experiencia:</strong> 5 años</p>
              <p><strong>Idiomas:</strong> <img src="assets/alemania.png"><img src="assets/colombia.png"></p>
              <p><strong>Consulta:</strong> <span class="price">$60.000</span></p>
            </div>
          </div>
          <div class="buttons">
            <button class="perfil">Ir a perfil</button>
            <button class="agendar">Agendar</button>
          </div>
        </div>
      </div>
    
</body>
</html>
