<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Te apoyamos SAS</title>
</head>
<body>
    <div class="hero">
        <img src="manos.png" alt="Manos estrechándose">
      </div>
      
      <section class="support-type">
        <h2>¿Qué tipo de apoyo necesitas?</h2>
        <div class="cards">
          <div class="card">
            <img src="juridica.png" alt="">
            <p>Asesoría Jurídica Integral</p>
          </div>
          <div class="card">
            <img src="defensa.png" alt="">
            <p>Defensa y Representación Legal</p>
          </div>
          <div class="card">
            <img src="empresarial.png" alt="">
            <p>Derecho Empresarial y Corporativo</p>
          </div>
          <div class="card">
            <img src="familiar.png" alt="">
            <p>Derecho Familiar y Sucesiones</p>
          </div>
        </div>
      </section>
      
      <section class="team">
        <div class="profile blue">
          <img src="daira.png" alt="Daira">
          <h4>Daira Sharick Prieto</h4>
          <p>⭐️⭐️⭐️⭐️⭐️</p>
          <p>Experiencia: 5 años</p>
          <p>Idiomas: 🇺🇸 🇪🇸</p>
        </div>
        <div class="profile pink">
          <img src="luis.png" alt="Luis 1">
          <h4>Luis Fernando Arcilia</h4>
          <p>⭐️⭐️⭐️⭐️⭐️</p>
          <p>Experiencia: 5 años</p>
          <p>Idiomas: 🇺🇸</p>
        </div>
        <div class="profile green">
          <img src="andres.png" alt="Luis 2">
          <h4>Andres Medina Cardenas</h4>
          <p>⭐️⭐️⭐️⭐️⭐️</p>
          <p>Experiencia: 17 años</p>
          <p>Idiomas: 🇺🇸</p>
        </div>
      </section>
      
      <section class="mision">
        <p><i>"Te Apoyamos SAS", una iniciativa que busca fortalecer su presencia en línea y optimizar la interacción con clientes y profesionales del derecho</i></p>
        <img src="logoT.ico" alt="Logo empresa">
      </section>
      
      <footer>
        <div class="footer-columns">
          <div>
            <h4>About Us</h4>
            <p>Firma de abogados...</p>
            <div class="socials">[iconos]</div>
          </div>
          <div>
            <h4>Recent News</h4>
            <ul>
              <li>Sem Porta Mollis Parturient</li>
              <li>Nullam Lorem Mattis Purus</li>
              <li>Nibh Sem Sit Ullamcorper</li>
              <li>Donec luctus imperdiet</li>
              <li>Magna pars studiorum</li>
            </ul>
          </div>
          <div>
            <h4>Contact Info</h4>
            <p>Address: Bogotá, Distrito Capital </p>
            <p>+1800-222-3333</p>
            <p>+1833-222-3443</p>
            <p>test-gmail.com</p>
          </div>
          <div>
            <h4>Business Overview</h4>
            <ul>
              <li>Attorneys</li>
              <li>Practice Areas</li>
              <li>Careers</li>
              <li>Honors & Awards</li>
              <li>Q&A</li>
            </ul>
          </div>
        </div>
        <div class="footer-bottom">
          <p>Copyright 2025 All Right Reserved</p>
        </div>
      </footer>
    
</body>
</html>