<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <div class="container-contactanos">
        <h2 class="titulo-principal">QUE QUIERE <br> ENVIEARNOS</h2>
      
        <div class="opciones">
          <div class="card">
            <div class="contenido">
              <h3><strong>mandanos tu</strong><br>preguntas</h3>
              <img src="pregunta.png" alt="Formulario">
            </div>
          </div>
      
          <div class="card">
            <div class="contenido">
              <h3><strong>quiero postularme</strong><br><small>(mandar hoja de vida)</small></h3>
              <img src="postulacion.png" alt="Postulación">
            </div>
          </div>
        </div>
      
        <div class="flecha">
          <img src="flecha.png" alt="Siguiente">
        </div>
      </div>
      
    
</body>
</html>
